html{
    height:100vh;
    width:100vw;
}

body{
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header{
    display:flex;
    margin:0px;
    height: 20%;
    background-color:rgb(148, 208, 216);
    color:white;
    justify-content:center;
}

h1{
    font: size 60px;
}

#footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-left:5%;
    padding-right:5%;
    background-color:rgb(148, 208, 216);
    color:white;
}

#Core{
    background-color:rgb(148, 208, 216);
    height:90%;
    width:90%;
    margin:5%;
}